body{
    margin: 0;
    /*min-height: 100vh;
    width: 100vw;*/
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 5px;
    
}
span{
    color: aqua;
}
header{
    color: aliceblue;
    border: 1px solid #48abe0;
    padding: 5px;
    display: flex;
    justify-content: center;
    
    /*height: 100svh;*/
}
header ul{
    list-style-type: none;
    padding: 5px;
}
header li {
    display: inline-block;
    padding: 10px;
    /*padding-left: 30px;
    padding-right: 30px;*/
    
}
header li:hover{
    border-radius: 5px;
    box-shadow: 0 0 10px 5px #48abe0;
}
a:link, a:visited, a:active{
    color: white;
    text-decoration: none;
}

.left-aside{
    border: 1px solid #a348e0;
    padding: 5px;
}
.right-aside{
    border: 1px solid #a348e0;
    padding: 5px;
}
.banner{
    border: 1px solid #e0c948;
    padding: 5px;
}
main{
    border: 1px solid #e048d8;
    padding: 5px;
}
.low-content{
    border: 1px solid #e04848;
    padding: 5px;
}
footer{
    border: 1px solid #27e440;
    padding: 5px;
}
.container{
    display: grid;
    gap: 10px;
}
.content{
    display: grid;
    gap: 10px;
}
pre{
    padding-left: 10px
}